<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="/header :: header"> </div>

    <form action="#" th:action="@{/meals/newmeal}" th:object="${meal}" method="post">
        <label for="name">Name</label>
        <input type="text" th:field="*{name}" id="name" placeholder="Name">
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
        <br>
        <hr>
        <label>Ingredients:</label>
        <br>
        <tr th:each="ingredient, itemStat : *{ingredients}">
            <select id="id" th:field="*{ingredients[__${itemStat.index}__].product}" name="id">
                <option value=""></option>
                <option th:each="product : ${products}" th:value="${product.id}" th:text="${product.name}"></option>
            </select>

            <input type="text" th:field="*{ingredients[__${itemStat.index}__].quantity}" id="quantity" placeholder="Quantity">

            <select id="serving" th:field="*{ingredients[__${itemStat.index}__].serving}" name="serving">
                <option value="G">G</option>
                <option value="TBSP">TBSP</option>
            </select>
            <br>
        </tr>

        <hr>
        <label for="recipe">Recipe</label>
        <br>
        <textarea id="recipe" rows="5"
                  name="recipe"
                  placeholder="Recipe" th:field="*{recipe}">
        </textarea>

        <br>
        <input type="submit" value="Add Meal">
    </form>
</body>
</html>