<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  <div th:switch="${products}">
    <h2 th:case="null">No products yet!</h2>
    <div th:case="*">
      <h2>Products</h2>
      <table>
        <thead>
        <tr>
          <th>Name</th>
          <th>Calories</th>
          <th>Carbohydrates</th>
          <th>Sugars</th>
          <th>Protein</th>
          <th>Fat</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
          <td th:text="${product.name}"></td>
          <td th:text="${product.calories}"></td>
          <td th:text="${product.carbohydrates}"></td>
          <td th:text="${product.sugars}"></td>
          <td th:text="${product.protein}"></td>
          <td th:text="${product.fat}"></td>
          <td><a th:href="@{/products/edit/{id}(id=${product.id})}">Edit</a></td>
          <td><a th:href="@{/products/delete/{id}(id=${product.id})}">Delete</a></td>
        </tr>
        </tbody>
      </table>
    </div>
    <p><a href="/products/signup">Add a new product</a></p>
  </div>
</body>
</html>