<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  <div th:switch="${meals}">
    <h2 th:case="null">No meals yet!</h2>
    <div th:case="*">
      <h2>Meals</h2>
      <table>
        <thead>
        <tr>
          <th>Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="meal : ${meals}">
          <td th:text="${meal.name}"></td>
          <td>: </td>
          <td th:each="ingredient : ${meal.ingredients}">
            <span th:text="${ingredient.product.name}"></span>
          </td>
          <td><a th:href="@{/meals/edit/{id}(id=${meal.id})}">Edit</a></td>
        </tr>
        </tbody>
      </table>
    </div>
    <p><a href="/meals/signup">Add a new meal</a></p>
  </div>
</body>
</html>