<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="/header :: header"> </div>
<form action="#"
      th:action="@{/products/update/{id}(id=${product.id})}"
      th:object="${product}"
      method="post">
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Name">
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
    <br>
    <label for="calories">Calories</label>
    <input type="text" th:field="*{calories}" id="calories" placeholder="Calories">
    <span th:if="${#fields.hasErrors('calories')}" th:errors="*{calories}"></span>
    <br>
    <label for="carbohydrates">Calories</label>
    <input type="text" th:field="*{carbohydrates}" id="carbohydrates" placeholder="Carbohydrates">
    <span th:if="${#fields.hasErrors('carbohydrates')}" th:errors="*{carbohydrates}"></span>
    <br>
    <label for="calories">Sugars</label>
    <input type="text" th:field="*{sugars}" id="sugars" placeholder="Sugars">
    <span th:if="${#fields.hasErrors('sugars')}" th:errors="*{sugars}"></span>
    <br>
    <label for="calories">Protein</label>
    <input type="text" th:field="*{protein}" id="protein" placeholder="Protein">
    <span th:if="${#fields.hasErrors('protein')}" th:errors="*{protein}"></span>
    <br>
    <label for="calories">Fat</label>
    <input type="text" th:field="*{fat}" id="fat" placeholder="Fat">
    <span th:if="${#fields.hasErrors('fat')}" th:errors="*{fat}"></span>
    <br>
    <input type="submit" value="Update Product">
</form>
</body>
</html>